<p>
  <strong>Name:</strong>
  <%= @document_template.name %>
</p>

<p>
  <strong>Doc:</strong>
  <%= link_to 'Download', @document_template.doc_template %>
</p>

<%= link_to 'Edit', edit_document_template_path(@document_template) %> |
<%= link_to 'Back', document_templates_path %>
